 
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <div class="card-title">
                    <h3> List Of Todolis </h3>
                </div>
            </div>
            <div class="card-body">
                <a href="<%= baseURL %>/admin/ftodo">
                    <button class="btn btn-default btn-md">
                        <i class="fa fa-plus-o"></i> New TodoList
                    </button>
                </a>
                <br/><br/>
                <table class="table table-bordered datatable" id="dtable">
                    <thead>
                        <tr>
                            <th> Title </th>
                            <th>Description</th> 
                            <th>Created At</th> 
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for( let index = 0; index < todo.length; index++ ) { %>
                            <tr class="odd gradeX">
                                <td><%= todo[index].title %> </td>
                                <td><%= todo[index].description %></td> 
                                <td class="center"><%= todo[index].createdAt %></td> 
                                <td> 
                                    <a href="<%= baseURL %>/admin/destroyTodo?id=<%= todo[index].id %>" class="text-danger"> Delete </a>
                                    <a href="<%= baseURL %>/admin/editTodo?id=<%= todo[index].id %>" class="text-warning"> Edit </a> 
                                </td>
                            </tr> 
                        <% } %> 
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

